.contain {
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 100%;
}
.movie--isloading {
  height: 475px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
}

.movie--isloading .loading-image {
  width: 500px;
  height: 100%;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-size: 550px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #f7f7f7;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 408px;
  }
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 408px;
  }
}
