#contactForm,
.column {
  flex-direction: column;
}
.dropdown,
.navbar a {
  float: left;
}
.dropdown,
.navbar {
  overflow: hidden;
}

.open,
.close {
  font-size: 25px;
  z-index: 3;
  position: relative;
}
.close {
  display: none;
  font-size: 30px;
}

.alert,
.success {
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  border: none;
  border-top: 1px dotted #bfbfbf;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}
.FormAlert {
  width: 100%;
  color: #bfbfbf;
  text-align: center;
  font-size: 18px;
  position: absolute;
  font-weight: 800;
  top: -48px;
  display: none;
}
#contactForm,
.navbar a {
  position: relative;
}

.FormAlert::after,
.FormAlert::before,
.success::after,
.success::before {
  content: " ______";
  display: inline-block;
  vertical-align: 8px;
  font-size: 15px;
}
#bar,
#close,
.alert,
.mobile-navbar-btn,
.success {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  border: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid bisque;
}
::-webkit-scrollbar-thumb {
  background: #bababa;
  border: 30px;
  border-radius: 20px;
}
#contactForm {
  display: flex;
  gap: 25px;
  align-items: center;
}
#contactForm > input,
input[type="textarea" i] {
  font-size: 15px;
}
#desert {
  margin-top: 160px;
}
#dhoop {
  margin-top: 120px;
}
.alert {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #fff,
    #fff,
    #fff,
    rgb(255 231 231),
    red,
    red,
    rgb(255 231 231),
    #fff,
    #fff,
    #fff
  );
  color: #fff;
}
.success {
  width: 60%;
  border-radius: 5px;
  color: #bfbfbf;
}
.active1 {
  border-bottom: 2px solid #000;
}
.navbar a:active::after,
.navbar a:hover::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #828282;
  position: absolute;
  bottom: 4px;
  left: 30%;
}
.newsletter .n-2 button,
button {
  border-radius: 12px;
  font-size: 19px;
  padding: 18px 33px;
  color: #fff;
  background-color: rgb(121 121 121);
  cursor: pointer;
  border: 1px solid transparent;
}
.name input,
input[type="email" i] {
  border: 1px solid #c7c4c4;
  padding: 12px;
}
.name input,
.newsletter .n-2 input,
input[type="email" i],
textarea {
  background-color: #f5f5f5;
  outline: 0;
}
.mobile-navbar-btn {
  background-color: transparent;
  cursor: pointer;
}
.c-2,
.c-5,
.name {
  display: flex;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
  z-index: 6;
  position: sticky;
}
#n-44 {
  height: 23px;
  width: 23px;
}
#n-11 {
  font-size: 35px;
}
.name input {
  width: 228px;
  font-size: 15px;
}
.c-5 i,
header ul li {
  font-size: 20px;
}
input[type="email" i] {
  width: 466px;
  font-size: 15px;
}
input[type="submit" i] {
  outline: 0;
  border: 1px solid #c7c4c4;
  padding: 35px 45px;
  border-radius: 6px;
  color: #fff;
  background-color: #9e9d9d;
  font-size: 16px;
  font-weight: 600;
}
input[type="submit" i]:hover {
  background-color: #b8b6b6;
}
textarea {
  border: 1px solid #c7c4c4;
  padding: 12px;
  width: 466px;
}
label {
  padding: 10px 0;
  line-height: 30px;
}
.c-2 {
  justify-content: center;
  padding-bottom: 90px;
  padding-top: 30px;
}
.c-3 {
  padding: 0 100px;
}
.c-3 p:first-child {
  font-size: 50px;
  line-height: 110px;
}
.c-3 p:nth-child(2),
.c-3 p:nth-child(3) {
  line-height: 40px;
  color: rgb(135 135 135);
}
.c-4 {
  padding: 7px 10px 10px;
}
.c-5 {
  padding-top: 26px;
  align-items: center;
  gap: 12px;
}
.column,
.photo-gallery {
  gap: 20px;
  display: flex;
}
.a-1 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 0 122px;
}
.a-2,
.a-3 {
  padding: 20px;
}
.a-3 p {
  font-size: 17px;
  width: 100%;
  margin-right: 523px;
}
.a-2 img {
  height: 100%;
  width: 100%;
}
.container {
  max-width: 96%;
  width: 100%;
  margin: auto;
  padding: 40px 0;
}
.photo,
section {
  padding: 10px;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
h1 {
  text-align: center;
  font-size: 61px;
  font-weight: 400;
  color: rgb(119 119 119);
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.newsletter .n-1 {
  text-align: center;
}
.newsletter .n-1 p {
  line-height: 50px;
}
.newsletter .n-2 {
  padding: 16px 10px 10px;
}
.newsletter .n-2 button,
.newsletter .n-2 input {
  margin: 0 5px;
  padding: 20px;
  border-color: #fff;
}
.newsletter .n-2 input {
  border: 1px solid #c7c4c4;
  width: 235px;
  font-size: 15px;
}
.newsletter .n-2 button:hover,
button:hover {
  background-color: #242424;
}
.newsletter .n-2 button:active,
button:active {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.newsletter .n-2 input[type="text"] {
  padding: 20px;
  margin-top: 0;
  color: #4a4a4a;
}
.newsletter .n-3,
.newsletter .n-4 {
  padding-top: 16px;
}
.newsletter .n-3 {
  color: #7f6868;
  font-size: 15px;
}
.newsletter .n-4 {
  padding-bottom: 55px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.dropdown .dropbtn,
.navbar a {
  font-size: 22px;
  color: #000;
  padding: 14px 16px;
}
.newsletter .n-4 i {
  font-size: 22px;
  color: black;
}
section {
  display: flex;
  overflow-x: auto;
  width: 200%;
}
header {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 200px;
  height: 200px;
  padding: 20px;
  object-fit: contain;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  padding: 50px;
}
img {
  width: 500px;
  height: 500px;
}

.navbar {
  font-family: Arial;
}
.navbar a {
  text-align: center;
  text-decoration: none;
}
.dropdown .dropbtn {
  border: none;
  outline: 0;
  background-color: inherit;
  font-family: inherit;
  margin-left: 40px;
}
.dropdown:hover .dropbtn,
.navbar a:hover {
  color: gray;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f97a;
  min-width: 160px;
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dropdown-content a:hover {
  color: #000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 1300px) {
  .c-3 {
    padding: 0 100px;
  }
}
@media (max-width: 1024px) {
  .c-3 {
    padding: 0 100px;
  }
  .c-3 p:first-child {
    font-size: 37px;
    line-height: 110px;
  }
}
@media (max-width: 980px) {
  .c-3 {
    padding: 0 18px;
  }
}
@media (max-width: 768px) {
  input[type="email" i] {
    width: 347px;
  }
  textarea {
    width: 350px;
  }
  .c-3 p:first-child {
    font-size: 32px;
  }
  .name input {
    width: 167px;
  }
  .newsletter .n-2 input {
    width: 152px;
  }
}
@media (max-width: 425px) {
  #bar,
  #close {
    display: initial;
  }
  .alert {
    color: red;
    background: 0 0;
    padding: 17px 0 0;
  }

  header img {
    width: 70px;
    height: 70px;
    padding: 0;
  }
  header {
    padding: 30px;
    width: 100%;
  }
  #name input,
  .name input {
    width: 160px;
  }
  #n-44 {
    height: 23px;
    width: 23px;
  }
  .navbar {
    padding: 10px;
    width: 100px;
    height: 100%;
  }

  .dropdown .dropbtn {
    margin-left: 0;
  }
  .newsletter .n-1 p {
    line-height: 25px;
    font-size: 15px;
  }
  #n-11 {
    font-size: 25px;
  }
  .newsletter .n-2 input {
    outline: 0;
    border: 1px solid #c7c4c4;
    width: 300px;
  }
  .newsletter .n-2 input[type="email"],
  .newsletter .n-2 input[type="text"] {
    padding: 17px;
    margin-top: 15px;
    font-size: 15px;
    color: #4a4a4a;
  }
  .newsletter .n-4 {
    padding-bottom: 70px;
  }
  .newsletter .n-3 {
    font-size: 16px;
  }
  .newsletter {
    width: 100%;
    margin-right: 0;
    padding: 40px 10px 10px;
  }
  .newsletter .n-2 button {
    border-radius: 3px;
    border-color: transparent;
    font-size: 20px;
    padding: 13px 21px;
    color: #fff;
    background-color: #adadad;
    cursor: pointer;
    margin-top: 35px;
  }
  .newsletter .n-2 {
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #navbar,
  .a-1 {
    flex-direction: column;
  }
  .newsletter .n-4 i {
    font-size: 21px;
  }
  .newsletter .n-3,
  .newsletter .n-4 {
    padding-top: 22px;
  }
  #bar {
    font-size: 24px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -100vh;
    width: 100%;
    left: 0;
    background-color: #ffffffa1;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
    padding: 0;
    transition: 0.3s ease-in-out;
    z-index: 3;
    backdrop-filter: blur(11px);
  }
  #navbar.active {
    bottom: 0;
  }
  .dropdown .dropbtn,
  .navbar a {
    font-size: 37px;
  }
  .a-3 p,
  .dropdown-content a {
    font-size: 20px;
  }
  .mobile-nav-icon {
    width: 2rem;
    height: 2rem;
  }
  .mobile-navbar-btn {
    display: block;
  }
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    display: none;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 7%);
    z-index: 2;
    padding-left: 10px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  .column,
  .photo-gallery {
    gap: 0;
  }
  #dhoop {
    margin-top: 22px;
  }
  #desert {
    margin-top: 36px;
  }
  .a-1 {
    margin: 0;
  }
  .a-3 p {
    width: 100%;
    margin-right: 0;
  }
  .a-2,
  .a-3 {
    padding: 10px;
    width: 100%;
  }
  .c-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  .c-3 {
    padding: 0;
    margin-right: 142px;
  }
  input[type="email" i],
  textarea {
    width: 330px;
  }
  .c-3 p:first-child {
    font-size: 30px;
    line-height: 70px;
  }
  .c-4 {
    padding: 68px 10px 10px;
  }
  input[type="submit" i] {
    padding: 29px 48px;
    color: #fff;
    font-size: 16px;
  }
}
